<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">      
    <title>{% if is_homepage %}{{title}}{% else %}{{title}} | vtasca.dev{% endif %}</title>
    <meta name="description" content="{{description}}">
    <link rel="stylesheet" href="{{static_prefix}}/styles.css?v={{cache_bust}}">
    <link rel="icon" type="image/svg+xml" href="{{static_prefix}}/favicon.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    {% block head %}
    {% endblock %}
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5MRWMKG5HZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5MRWMKG5HZ');
</script>

<body>
    <header class="site-header">
        <nav class="main-nav">
            <div class="nav-brand">
                <a href="{{root_prefix}}/" class="brand-link">
<pre class="ascii-logo">
        __                             __         
 _   __/ /_____ _______________ _ ____/ /__ _   __
| | / / __/ __ `/ ___/ ___/ __ `// __  / _ \ | / /
| |/ / /_/ /_/ (__  ) /__/ /_/ // /_/ /  __/ |/ / 
|___/\__/\__,_/____/\___/\__,_(_)__,_/\___/|___/  
</pre>
            </a>
            </div>
            <div class="nav-links">
                <a href="{{root_prefix}}/blog" class="nav-link">Blog</a>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="site-footer">
        <div class="footer-content">
            <!-- <div class="footer-nav">
                <a href="{{root_prefix}}/" class="footer-link">Home</a>
                <a href="{{root_prefix}}/blog" class="footer-link">Blog</a>
            </div> -->
            <div class="footer-year">
                <i class="fa-solid fa-earth-europe"></i> {{ now.year }}
            </div>
            <div class="footer-social">
                <a href="https://github.com/vtasca" class="social-link" title="GitHub"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/vlad-tasca" class="social-link" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.kaggle.com/vladtasca" class="social-link" title="Kaggle"><i class="fab fa-kaggle"></i></a>
            </div>
        </div>
    </footer>
    <script src="{{static_prefix}}/core.js?v={{cache_bust}}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>
